/*** Title Screen Animations ***/
.title-in {
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: titleSpawn;
}

.subtitle-in {
  animation-delay: 0.5s;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: titleSpawn;
  opacity: 0;
}

.subtitle-out {
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: subSlideUp;
  opacity: 1;
}

.title-up {
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: titleDriftUp;
}

.fade-in-bottom {
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: fadeIn, slideFromBottom;
}

.fade-in,
.fade-out {
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
}

.fade-out {
  animation-name: fadeOut;
}

/* Animations */
@keyframes titleSpawn {
  from {
    translate: 5vw 70vh;
    opacity: 0;
  }
  to {
    translate: 5vw 45vh;
    opacity: 1;
  }
}
@keyframes titleDriftUp {
  from {
    translate: 5vw 45vh;
    font-size: 3rem;
  }
  to {
    translate: 0 0;
    font-size: 2rem;
  }
}
@keyframes subSlideUp {
  from {
    translate: 5vw 45vh;
    opacity: 1;
  }
  to {
    translate: 0 0;
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideFromRight {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideFromBottom {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes growProfileForm {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 300px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 1;
  }
}
